.footer{
    background-color: #333333;
    text-align: center;
    padding-top: 32px;
    padding-bottom:28px ;
    width: 100%;
  
    .a{
      color: #FFFFFF; 
    }

    .flex /*text-align:center;が効かなかったから*/{
        justify-content: center;
      }
  
    .nav{
      margin-bottom: 24px;
      width: 100%;
      justify-content: space-between;
      margin: auto;
      margin-bottom: 26px;
    
      .NSCP{
        margin-right: 73px;
      }
      .NSCP:last-child/*打ち消し*/{
        margin-right: 0;
      }
    
      .li{
          position: relative;
      }

      .li::after{
        content: '';
        display: inline-block;
        background: #ffffff;;
        height: 10px;
        width:2px;
        position: absolute;
        top:25%;
        left:171%;
      }

      .li:nth-child(3)::after{
          left: 120%;
      }

      .li:last-child:after/*打ち消し*/{
        display: none;
      }
    }
  
    .share{
      margin-bottom: 15px;
    }
  
    .ul_icon{
      margin-bottom: 18px;
    }
  
    .icon/*snsアイコン*/{
      margin-right:16px ;
    }
  
    .icon:last-child/*上のcssの打ち消し*/{
      margin-right: 0;
    }
  
    .btn{
      margin-bottom: 32px;

      p::after{
        border: #333333 2px solid;
        border-top: none;
        border-left: none;
      }
    }

    .right{
        font-weight:bold ;
        font-size: 0.9rem;
        letter-spacing: 0.4px;
    }
  
  }